<menu class="social">
  <ul>
    <li class="twitter"><a href="http://twitter.com/home?status=I just found my polling place using the @VotingInfo Project tool. Check it out: http://mobile.votinginfoproject.org" title="Share on Twitter">Twitter</a></li>
    <li class="facebook"><a href="http://www.facebook.com/sharer.php?u=I just found my polling place using the Voting Information Project look-up tool. Check it out at: http://mobile.votinginfoproject.org&amp;t=Voting Info Project" title="Share on Facebook">Facebook</a></li>
  </ul>
</menu>
